# Directorios
/back/var/
/back/public/bundles/
/back/public/uploads/
/back/node_modules/
/back/vendor/

# Archivos
/back/.env
/back/.env.local.php
/back/.phpunit.result.cache
/back/.php_cs.cache
/back/build/
/back/composer.phar
/back/phpunit.xml
/back/phpunit.xml.dist
/back/.phpstorm.meta.php
/back/.idea/
/back/.vscode/
/back/.DS_Store

# dependencies
/front/rickandmorty/node_modules

# testing
/front/rickandmorty/coverage

# production
/front/rickandmorty/build

# misc
/front/rickandmorty/.DS_Store
/front/rickandmorty/.env
/front/rickandmorty/.env.development.local
/front/rickandmorty/.env.test.local
/front/rickandmorty/.env.production.local

/front/rickandmorty/npm-debug.log*
/front/rickandmorty/yarn-debug.log*
/front/rickandmorty/yarn-error.log*
